doctype html
html
  head
    title Cashfree - Signature Generator
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(onload='document.frm1.submit()')
    // <body>
    form#frm1(action='#{url}' name='frm1' method='post')
      p Please wait.......
      script(type='text/javascript').
        var url_string = window.location.href;
        var url = new URL(url_string);
        var orderId = url.searchParams.get("order_id");
        var token = url.searchParams.get("order_token");
        var urldata = {
        "orderId": orderId,
        "token": token,
        }
        // const postData = [];
        // postData.push(orderId);
        // postData.push(token);
        var postData = urldata;
        for (var key in postData) {
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('value', postData[key]);
        input.setAttribute('name', key);
        document.getElementById("frm1").appendChild(input);
        console.log(postData[key]);
        }
