doctype html
html(datapagename='Registration')
  head
    meta(charset='utf-8')
    title Registration Acknowledgement
    meta(content='width=device-width, initial-scale=1' name='viewport')
    link(href='assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='assets/css/style.css' rel='stylesheet' type='text/css')
    script(src='assets/Fonts/webfont.js' type='text/javascript')
    script(type='text/javascript').
      WebFont.load({
      google: {
      families: ["ABeeZee", "Josefin Sans", "Nunito", "Manrope:regular,500,600,700,800"]
      }
      });
    link(href='assets/favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(href='assets/favicon.ico' rel='apple-touch-icon')
  body
    .main-containter
      .top-bar
        div
          a.Logo(href='/home' aria-current='page')
            img.t-logo(src='assets/BullWhite.png' alt='')
        nav.h-navigation
          a#Home.n-card.nav-btn(href='/home' aria-current='page')
            div Home
          a#AboutUs.n-card.nav-btn(href='/home/about-us')
            div About Us
          a#Exports.n-card.nav-btn(href='/home/gallery')
            div Gallery
          a#Products.n-card.nav-btn(href='/home/faqs')
            div FAQs
          a#Contact.n-card.nav-btn(href='/home/contact')
            div Contact
        .h-menu
          svg#h-menu(status='closed' viewBox='0 0 800 600')
            path#m-top(d='M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200')
            path#m-middle(d='M300,320 L540,320')
            path#m-bottom(d='M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190' transform='translate(480, 320) scale(1, -1) translate(-480, -318) ')
    .page-header
      .container.in-page-header
        h1.page-header-title Registration
      .heading-overlay
    .section.explore
      .container
        .row.v-card.p-4
          .col-sm-12.col-lg-6
            h2.contact-title MANDATORY DOCUMENTS
            p.contact-paragraph Contact us and we'll get back to you as soon as possible.
            .contact-block
              ul
                li Proof of Date of birth
                li Payment Reciept
                li Latest Passport size photo
                li aadhar card
            h2.contact-title Email Sent
            p.contact-paragraph We have sent a email to the address you used when you filled in the form.
            h5.contact-title You haven’t received your email?
            p.contact-paragraph
              | Check your email 
              span
                b spam folder
              |  for your acknowledgement email.
            h5.contact-title if you have any query please contact us.
          .w-form.col-sm-12.col-lg-6
            #success-message.success-message.w-form-done
              div Thank you! Your submission has been received!
            #error-message.error-message.w-form-fail
              div Oops! Something went wrong while submitting the form.
            table.table.table-responsive.table-hover
              tbody#tablebody
                tr
                  td Order ID
                  td#orderId
                tr
                  td Order Amount
                  td#orderAmount
                tr
                  td Reference ID
                  td#referenceId
                tr
                  td Transaction Status
                  td#txStatus
                tr
                  td Payment Mode 
                  td#paymentMode
                tr
                  td Message
                  td#txMsg
                tr
                  td Transaction Time
                  td#txTime
      footer.footer
        .container.footer-block
          .footer-section
            .footer-col.first
              div
                a.Logo(href='/home' aria-current='page')
                  img.logo(src='assets/BullWhite.png' alt='')
            address.footer-col.flex-vertical
              .footer-title Contact Us
              a.copyright-link.muted.margin-bottom(href='tel:+91 6355 41 4542') +91 6355 41 4542
              a.copyright-link.muted.margin-bottom(href='tel:+91 9782 83 4134') +91 9782 83 4134
              a.copyright-link.muted.margin-bottom(href='mailto:info@bkse.in') info@bkse.in
            address.footer-col.flex-vertical
              .footer-title Office
              .copyright-text.bigger
                | Naroda Dehgam Road, OPP.Akash Grand City, behind Shivganga Marble, Enasan, Ahmedabad, Gujarat, India- 382330.
        .footer-bottom
          .container.footer-bottom-flex
            .copyright-block
              .copyright-text
                | Design by 
                a.copyright-link(href='https://fivmenttech.com' target='_blank') fivmenttech
        .footer-bg
      script(type='text/javascript').
        var postData = JSON.parse('!{postData}');
        console.log(postData["txsubmited"]);
        console.log(postData.txsubmited);
        if (postData["txsubmited"] == "true") {
        document.getElementById("success-message").style.display = "block";
        } else {
        var faild = document.getElementById("error-message").firstChild;
        faild.innerHTML = "subbmitaiton faild please refill the form";
        document.getElementById("error-message").style.display = "block";
        }
        for (var key in postData) {
        document.getElementById(key).innerHTML = postData[key];
        console.log(postData[key]);
        }
      script(src='assets/js/jquery-3.5.1.min.js')
      script(src='assets/js/main.js' type='text/javascript')
      script(src='assets/js/jquery.validate.min.js' type='text/javascript')
      // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-HD9JEPCT7Y')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HD9JEPCT7Y');
      // <script src="assets/js/animation.js" type="text/javascript">
